body {
  background-color: #b6ddff;
  font-family: Georgia;
}
h1 {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
a {
  color: #2b4598;
}
.container {
  margin: 60px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
form {
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px solid #93c6f8;
  border-radius: 20px;
  width: 80%;
  font-size: 15px;
  line-height: 20px;
}
.submit-button {
  border-radius: 20px;
  padding: 14px 24px;
  font-size: 16px;
  border: 1px solid #93c6f8;
  background-color: #93c6f8;
  margin-left: 10px;
}
.itinerary {
  font-size: 15px;
  background-color: #ffff;
  padding: 20px;
  line-height: 24px;
  border-left: 4px solid #2b4598;
}
footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 550;
}
